body {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

select,
input,
button,
.ArtCanvas {
  display: block;
  margin: 0px auto;
}

input[name="parameter_a"], select[name="artpiece_selector"] {
  margin-bottom: 20px;
}

#mobile_controls {
  display: none;
}

/* was 640 */
@media screen and (max-width: 2000px) {
  .ArtCanvas {
    width: 100%;
  }

  input[name="parameter_a"] {
    display: none;
  }

  #mobile_controls {
    display: block;
    text-align: center;
  }

  #mobile_controls #slider {
    width: 70%;
    height: 130px;
    margin: 0 auto;
    background-color: rgb(28, 28, 30);
    border-radius: 30px;
  }

  #mobile_controls #touch {
    position: fixed;
    background: rgb(253, 253, 253);
    width: 20px;
    height: 20px;
    border-radius: 50%;

    transition: all 0.1s ease;

    /* do not become a target for touch events */
    pointer-events: none;
  }
}

/* this stops iOS from zooming when focusing an input */
select,
textarea,
button,
input {
  font-size: 16px;
}

/* disable selection when long pressing */
* {
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */

  touch-action: manipulation; /* disable zooming with double tap */
}
