h1 {
  text-align: center;
}

select,
input,
button,
.ArtCanvas {
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: 640px) {
  .ArtCanvas {
    width: 100%;
  }
}

/* this stops iOS from zooming when focusing an input */
select,
textarea,
button,
input {
  font-size: 16px;
}
