/* todo support dark mode */
body {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

select,
input,
button,
.ArtCanvas {
  display: block;
  margin: 0px auto;
}

input[name="parameter_a"],
select[name="artpiece_selector"],
button[name="reinit"] {
  margin-bottom: 20px;
}

#mobile_controls,
.g_sensor {
  display: none;
}

#canvas3D {
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .ArtCanvas {
    width: 100%;
  }

  input[name="parameter_a"] {
    display: none;
  }

  #mobile_controls {
    display: block;
    text-align: center;
  }

  .g_sensor {
    display: block;
  }

  #mobile_controls #touch_rect {
    position: relative; /* make touch position relative to this */
    width: 70%;
    padding-top: 28%; /* aspect ratio of 1 width / 0.28 height */
    margin: 0 auto 20px auto;
    background-color: rgb(28, 28, 30);
    border-radius: 10px;

    touch-action: none; /* prevent touches from scrolling */
  }

  #mobile_controls #touch {
    position: absolute;
    background: rgb(253, 253, 253);
    width: 8%;
    border-radius: 50%;

    /* do not become a target for touch events */
    pointer-events: none;
  }
}

/* this stops iOS from zooming when focusing an input */
select,
textarea,
button,
input {
  font-size: 16px;
}

/* disable selection when long pressing */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  touch-action: manipulation; /* disable zooming with double tap */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(35, 37, 38);
  }

  #canvas2D {
    filter: invert(100%);
  }

  h1 {
    color: whitesmoke;
  }

  input,
  select,
  textarea,
  button {
    background-color: rgb(87, 88, 95);
    color: whitesmoke;
    border: 1px solid rgb(87, 88, 95);
  }
}
