h1 {
  text-align: center;
}

select,
input,
button,
.ArtCanvas {
  display: block;
  margin: 20px auto;
}

#mobile_controls {
  display: none;
}

@media screen and (max-width: 640px) {
  .ArtCanvas {
    width: 100%;
  }

  input[name="parameter_a"] {
    display: none;
  }

  #mobile_controls {
    display: block;
    text-align: center;
  }

  #mobile_controls button {
    display: inline-block;
    margin: 0px 10px;
  }
}

/* this stops iOS from zooming when focusing an input */
select,
textarea,
button,
input {
  font-size: 16px;
}
